.card-text {
    font-size: 1.8rem;
    font-weight: bold;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-width: 625px;
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.cardImage {
    flex-shrink: 0;
    width: 350px;
}

.card-img-top {
    width: 300px;
    height: 170px;
    object-fit: cover;
    display: flex;
    justify-content: flex-start;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.newsInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10px;
    font-size: 1.2rem;

}

.newsInfo i {
    margin-right: 10px;
}

.tag-economy {
    background: linear-gradient(to right, #fdc830, #f37335); 
    color: white;
    padding: 12px;
    border-radius: 50px;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    font-size: 1.2rem;
}

.tag-videogames {
    background: linear-gradient(to right, #00b4db, #0083b0);
    color: white;
    padding: 12px;
    border-radius: 50px;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    font-size: 1.2rem;
}

.tag-sports {
    background: linear-gradient(to right, #ff416c, #ff4b2b);
    color: white;
    padding: 12px;
    border-radius: 50px;
    font-weight: bold;
    max-width: 150px;
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width: 830px) {
    .newsInfo {
        justify-content: space-between;
        margin-left: 350px;
    }
    .newsInfo p {
        font-size: 1rem;
    }
}

