/* Dashborad Styles */
.dashboard {
    text-decoration: none;
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px 50px;
    text-align: center;
  }
  
  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
  .buttons-container button {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.4rem;
    border: none;
    border-radius: 20px;
  }
  
  .buttons-container button i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    padding: 5px;
  }
  
  .newsInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    font-size: 1.2rem;
  }
  
  .newsInfo i {
    margin-right: 10px;
  }
  
  .card-text {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  
  .cardImage {
    flex-shrink: 0;
    width: 120px; 
    margin: 20px; 
  }
  
  .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  