/* Global styles */
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

#root {
  background-color: #c9d4e8;
}

.App {
  height: 100vh;
}

h4 {
  display: flex;
  margin: 20px 5px;
}


/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: linear-gradient(to bottom, #141e30, #243b55);
  color: white;
  height: 12vh;
}

nav p {
  margin: 0 20px
}

.menu-container,
.logo-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.logo-container img {
  width: 100px;
}

.menu-container i{
  color: white;
  font-size: 2rem;
}


/* Footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #141e30, #243b55);
  height: 8vh;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: auto;
}

footer i {
  margin-right: 10px;
}